.datePicker {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-around !important;
  padding-left: 5px !important;
}
.basic{
  border: 1px solid blue;
  border-radius: 50%;
  text-align: center;
  padding: 4px;
  width: 20px;
  height: 20px;
}
.active{
  background-color: pink;
  border: 1px solid pink;
}